header {
    position: sticky;
    top: 0;
    z-index: 1000;

}

.ui {
    padding-right: 15px;
}

.col {
    background-color: #2A9652;
}


.btn-g {
    display: inline-block;
    padding: 6px 14px;
    background-color: white;
    color: #2A9652;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-align: center;
}


.btn-g:hover {
    background-color: rgba(245, 245, 245, 0.9);
    color: #2A9652;
}






.btn-ou {
  background-color: #2A9652;
  border: 1px solid white;
  border-radius: 0.375rem;
  color: white;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-ou:hover {
  background-color: white; 
  color: #2A9652;
}

.btn-ouu {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: #2A9652;
    padding: 6px 14px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.btn-ouu:hover{
    background-color: rgba(245, 245, 245, 0.9);
    color: #2A9652;
}

.text-col{
    color: white;
}

.text-col:hover{
    color: rgba(199, 198, 198, 0.9);
}