header {
    position: sticky;
    top: 0;
    z-index: 1000;

}

.highlight {
    color: rgba(255, 255, 255, 0.7);  /* тусклий білий */
    text-decoration: none;
    transition: color 0.3s;
}

.highlight:hover,
.highlight.active {
    color: rgba(255, 255, 255, 1);   /* чистий білий */
    text-decoration: none;
}



.ui {
    padding-right: 15px;
}

.col {
    background-color: #2A9652;
}

/* Клас для твоєї кнопки, яку ти назвав btn-g */
.btn-g {
    display: inline-block;
    padding: 6px 14px;
    background-color: white;
    color: #2A9652;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.btn-g:hover,
.btn-g:active,
.btn-g:focus {
    background-color: white;
    color: #2A9652;
    text-decoration: none;
}

.btn-ou {
    display: inline-block;
    padding: 6px 14px;
    font-weight: 500;

    color: #f8f9fa;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    border-radius: 0.375rem;

    text-decoration: none;
    cursor: pointer;

    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

/* hover */
.btn-ou:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    text-decoration: none;
}

/* focus */
.btn-ou:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(248,249,250,.25);
}

/* active */
.btn-ou:active {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-ouu {
    display: inline-block;
    padding: 6px 14px;
    font-weight: 500;
    background-color: white;
    color: #2A9652;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-ouu:hover{
    background-color: white;
    color: #2A9652;
    text-decoration: none;
}

