.button-t {
    background-color: #2A9652;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 160px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
}

.button-t:hover {
    background-color: #237d45;
}

.button-t1 {
    background-color: #2A9652;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
}

.button-t1:hover {
    background-color: #237d45;
}

.bac{
    background-color: #f8f9fa;
}

.logo-box{
    margin-top:10px;
}

.registration-card {
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    background: white;
}

.divider{
    border-top: 1px solid black;  /* товщина і колір лінії */
    margin: 1.5rem 0;             /* відступ зверху і знизу */
}

.cardf{
    width:100%; max-width:480px; 
    border-radius:20px; 
    background-color:#ffffff;
}