.pt {
  padding: 2%;
}

.hk{
  max-width: 1290px;
  margin: 30px auto;
  padding: 15px 20px;
  background: white;
  border:  5px solid;
  border-style: solid;
  border-color: #2A9652;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.button-tt {
  background-color: #2A9652;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
}

.button-tt:hover {
  background-color: #237d45;
  color: white;
}

.card-imgg {
  width: 100%;
  height: 284px;
  object-fit: cover;
  border-bottom-right-radius: 0px;
}


.cream-bg {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.big-card{
  max-width: 900px;
  height: 285px;
  margin: auto;
}

.rr{
  padding-left: 0px;
}

.card-body > div{
  display:flex;
  flex-direction:column;
  gap:8px;
}

.card-text-p{
  font-size: 1.05rem;
  margin-bottom: 6px;
  color: #555;
}

.price{
  font-size: 1.3rem;
  font-weight: 700;
  color: #2A9652;
  margin-top: 1.0px;
}

/*---booking---*/
.big-card1 {
  max-width: 900px;
  margin: 20px auto;
}

.card-imgg1 {
  width: 90%;
  height: 90%;
  object-fit:cover;
  border-radius:12px;
}

.card-body1 {
  display: flex;
  flex-direction: column;
}


strong{
  color: black;
}


.book-btn{
  position: absolute;
  bottom: 10px;
}



.pp{
  padding: 15px;
}

.booking-form{
  margin-top:150px;
}

.btn-center{
    text-align:center;
}

.success-card {
  max-width: 600px;
  margin: auto;
}

.pf { 
  font-size: 16px; 
}

.crea {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-size-m{
  font-size: 20px;
}

hr.divider-n{
    border-top: 1px solid black;  
    margin: 1.5rem 0;     
    size: 4px;       
}