.center-text {
    text-align: center;   
    font-size: 20px; 
    padding: 15px;
    font-size: 20px;       
}

.pp{
    font-size: 20px;    
}

.box {
    width: 220px;
    height: 220px;
    background-color: #f2f2f2;
    border-radius: 10px;       /* закруглення */
    border: 2px solid #333;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-weight: bold;
}




/* робимо body флекс-контейнером */
body {
    display: flex;
    flex-direction: column;  /* вертикальний напрямок */
    min-height: 100vh;       /* щоб займати всю висоту екрану */
    margin: 0;               /* прибираємо стандартні відступи */
}

/* main займає весь доступний простір */
main {
    flex: 1;                 /* розтягується, щоб footer був внизу */
}

/* footer стилі (можна кастомізувати) */
footer {
    color: white;
    padding: 20px;
    text-align: center;
}




.square {
    width: 100%;
    min-height: 250px;
    background:#08a72d;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}



.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-img-fixed {
    height: 200px;          /* однакова висота */
    object-fit: contain;   /* НЕ обрізає і НЕ тягне */
    background-color: #f5f5f5; /* фон щоб не було пусто */
}

.card {
    max-width: 340px;
}

.c-item {
    height: 480px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-item {
    height: 450px; /* можеш змінити: 400–500 */
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.text-justify {
    text-align: justify;
}

.hero-about {
    min-height: 50vh;
    background:
        linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
        url("/static/img/1.jpg") center/cover no-repeat;
}

.back{
    background-color: #2A9652;
    color: white;
}

.carousel-item{
    height: 35rem;
}

.section {
    padding: 5rem 0;
}

.section-1 {
    padding: 6rem 0;
}

.btn-light-custom {
    background-color: #ffffff; /* білий фон */
    color: #2A9652; /* зелений текст */
    border: 2px solid #2A9652; /* зелена рамка */
    border-radius: 12px; /* округлі кути */
    padding: 12px 30px; /* вертикальні та горизонтальні відступи */
    font-size: 18px; /* великий шрифт */
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-light-custom:hover {
    background-color: rgba(245, 245, 245, 0.9); /* при наведенні фон зелений */
    color: #2A9652; /* текст стає білим */
    border-color: #2A9652; /* рамка теж зелена */
}