.center-text {
    text-align: center;   
    font-size: 20px; 
    padding: 15px;
    font-size: 20px;       
}


/* робимо body флекс-контейнером */
body {
    display: flex;
    flex-direction: column;  /* вертикальний напрямок */
    min-height: 100vh;       /* щоб займати всю висоту екрану */
    margin: 0;               /* прибираємо стандартні відступи */
}

/* main займає весь доступний простір */
main {
    flex: 1;                 /* розтягується, щоб footer був внизу */
}

/* footer стилі*/
footer {
    color: white;
    padding: 20px;
    text-align: center;
}



.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}


.card {
    max-width: 340px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.back{
    background-color: #2A9652;
    color: white;
}

.carousel-item{
    height: 35rem;
}

.section {
    padding: 5rem 0;
}

.section-1 {
    padding: 6rem 0;
}

.btn-light-custom {
    background-color: #ffffff; /* білий фон */
    color: #2A9652; /* зелений текст */
    border: 2px solid #2A9652; /* зелена рамка */
    border-radius: 12px; /* округлі кути */
    padding: 12px 30px; /* вертикальні та горизонтальні відступи */
    font-size: 18px; /* великий шрифт */
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-light-custom:hover {
    background-color: rgba(245, 245, 245, 0.9); /* при наведенні фон зелений */
    color: #2A9652; /* текст стає білим */
    border-color: #2A9652; /* рамка теж зелена */
}

.section-gray {
    background-color: #f8f9fa;
}

.section-light {
    background-color: #ffffff;
}

.section-accent {
    background:#08a72d;
    color: white;
}

.section-accent .text-muted {
    color: rgba(255,255,255,.8) !important;
}

.card-img-fixed {
    height: 200px;
    object-fit: cover;
}

.pp {
    font-size: 0.95rem;
}

.carousel-item {
    height: 35rem;
}