{% extends 'base.html' %}
{% block content %}
    <h1>Бронювання</h1>

    <img src="{{ rest.photo.url }}" style="width: 300;">
        <h3>Кімната №{{ rest.name }} {{ rest.category }}</h3>
        <p>Місць: {{ rest.capacity }}</p>
        <p>{{ rest.description}}</p>
        <p>Ціна: {{ rest.price }}</p>
        
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="rest_id" value="{{ rest.id }}">
            
            <label for="start_date">Дата заїзду</label>
            <input type="date" name="start_date" value="{{ start_date }}" min="{% now 'Y-m-d' %}" required>

            <label for="end_date">Дата виїзду</label>
            <input type="date" name="end_date" value="{{ end_date }}" min="{% now 'Y-m-d' %}" required>
            
            <button type="submit">Забронювати</button>
        </form>

{% endblock %}