{% extends 'base.html' %}
{% block content %}
<br>
    <h1>Бронювання</h1>

    <img src="{{ room.rest.photo.url }}" style="width: 300;">
    <h3>Кімната №{{ room.number }} ({{ room.category }})</h3>
    <p>Місць: {{ room.capacity }}</p>
    <p>{{ room.description }}</p>
    <p>Ціна: {{ room.price }} грн.</p>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="room_id" value="{{ room.id }}">

        <label for="start_date">Дата заїзду:</label>
        <input type="date" name="start_date" id="start_date" value="{{ start_date }}" min="{% now 'Y-m-d' %}" required>

        <label for="end_date">Дата виїзду:</label>
        <input type="date" name="end_date" id="end_date" value="{{ end_date }}" min="{% now 'Y-m-d' %}" required>
        
        <button type="submit">Забронювати</button>
    </form>

{% endblock %}