{% extends 'base.html' %}
{% block content %}
<div class="hk">
    <form method="post" action="{% url 'main_page' %}">
        {% csrf_token %}

        <label for="start_date">Дата заїзду</label>
        <input type="date" name="start_date" value="{{ start_date }}" min="{% now 'Y-m-d' %}" required>

        <label for="end_date">Дата виїзду</label>
        <input type="date" name="end_date" value="{{ end_date }}" min="{% now 'Y-m-d' %}" required>

        <div class="field">
            <label>Тип</label>
            <select name="tep">
                <option value="active">Активний</option>
                <option value="passive">Пасивний</option>
                <option value="mixed">Змішаний</option>
            </select>
        </div>

        <label for="min_price">Ціна від: </label>
        <input type="number" name="min_price" value="{{ min_price }}" placeholder="від" min="1">
        
        <label for="max_price">Ціна до: </label>
        <input type="number" name="max_price" value="{{ max_price }}" placeholder="до" min="1">

        <button type="submit">Фільтрувати</button>
    </form>
</div>

<div class="pt">
    <h1>Знайдіть Відпочинок для себе</h1>
    {% for rest in rests %}
        <img src="{{ rest.photo.url }}">
        <h3>Відпочинок {{ rest.name }} </h3>
        <p>Тип: {{ rest.tep }}</p>
        <p>Категорія: {{ rest.category }}</p>
        <p>Ціна: {{ rest.price }}</p>
        <p><a href="{% url 'booking' %}?rest_id={{ rest.id }}&start_date={{ start_date }}&end_date={{ end_date }}">Забронювати</a></p>
        <hr>
    {% endfor %}
</div>


{% endblock %}