{% extends 'base.html' %}

{% load static %}
{% block content %}

<h1 class="text-center mb-5 text-green fw-bold">Знайдіть Відпочинок</h1>

<div class="hk mb-3">
<form method="post" action="{% url 'main_page' %}" class="row g-2 align-items-stretch">
{% csrf_token %}

<div class="col-sm form-floating">
  <input type="date" class="form-control" id="start_date" name="start_date"
         value="{{ start_date }}" min="{% now 'Y-m-d' %}">
  <label for="start_date">Дата заїзду</label>
</div>

<div class="col-sm form-floating">
  <input type="date" class="form-control" id="end_date" name="end_date"
         value="{{ end_date }}" min="{% now 'Y-m-d' %}">
  <label for="end_date">Дата виїзду</label>
</div>

<div class="col-sm form-floating">
  <input type="number" class="form-control" id="min_price" name="min_price"
         value="{{ min_price }}" placeholder="від">
  <label for="min_price">Ціна від:</label>
</div>

<div class="col-sm form-floating">
  <input type="number" class="form-control" id="max_price" name="max_price"
         value="{{ max_price }}" placeholder="до">
  <label for="max_price">Ціна до:</label>
</div>

<div class="col-sm form-floating">
  <select name="tep" class="form-select">
    <option value="active" {% if tep == 'active' %}selected{% endif %}>Активний</option>
    <option value="passive" {% if tep == 'passive' %}selected{% endif %}>Пасивний</option>
    <option value="mixed" {% if tep == 'mixed' %}selected{% endif %}>Змішаний</option>
  </select>
  <label for="floatingSelect">тип</label>
</div>


<div class="col-sm-auto">
    <button type="submit" class="button-tt w-700">
        Фільтрувати
    </button>
</div>

</form>
</div>


<br>
{% for rest in rests %} 
<div class="cream-bg">
    <div class="rr">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="card big-card shadow-sm rounded-4 ">
                    <div class="row g-0">
                        <div class="col-6 col-md-5"> 
                            <img src="{{ rest.photo.url }}" class="card-imgg img-fluid rounded-start" alt="Відпочинок"> 
                        </div> 
                        <div class="col-6 col-md-5">
                            <div class="card-body d-flex flex-column">
                                <div class="cut-text">
                                    <h3><strong>{{ rest.name }}</strong></h3> 
                                    <p class="card-text"><strong>Категорія:</strong> {{ rest.category }}</p> 
                                    <p class="card-text"><strong>Тип:</strong> {{ rest.tep }}</p> 
                                    <p class="card-text price">Ціна: {{ rest.price }} грн</p> 
                                    <a href="{% url 'booking' %}?rest_id={{ rest.id }}&start_date={{ start_date }}&end_date={{ end_date }}"
                                        class="btn button-tt book-btn">
                                        Переглянути
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %} 
{% endblock %}