{% extends 'base.html' %}
{% block content %}
<section class="search-hero">
        <h1 class="text-white fw-bold">Відпочинок</h1>
        <br>
</section>
<br>
    {% for rest in rests %}
    <div class="cream-bg">
        <div class="rr">
            <div class="row g-5">
                <div class="col-lg-8">
                    <div class="card big-card shadow-sm rounded-4 ">
                        <div class="row g-0">
                            <div class="col-6 col-md-5"> 
                                <img src="{{ rest.photo.url }}" class="card-imgg img-fluid rounded-start" alt=""> 
                            </div> 
                            <div class="col-6 col-md-5">
                                <div class="card-body d-flex flex-column">
                                    <div class="cut-text">
                                        <h3><strong>{{ rest.name }}</strong></h3>
                                        <br>
                                        <p class="card-text"><strong>Категорія:</strong> {{ rest.category }}</p> 
                                        <p class="card-text"><strong>Тип:</strong> {{ rest.tep }}</p> 
                                        <p class="card-text price">Ціна: {{ rest.price }} грн</p> 
                                        <a href="{% url 'booking' %}?rest_id={{ rest.id }}&start_date={{ start_date }}&end_date={{ end_date }}"
                                            class="btn btn-success book-btn">
                                            Переглянути
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center">
        <br>
        <p class="fw-bold">Що це за кнопка?</p>
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="btn button-tt n">кнопка</a>
    </div>
{% endblock %}