{% extends 'base.html' %}
{% block content %}

    <div class="square">
        <h1>Про нас</h1>
        <p>
            Вітаю на моєму сайті бронювання відпочинку
        </p>
    </div>
    <p class="center-text">
        Вітаю на моєму сайті бронювання відпочинку.
    </p>

    <div class="dropdown-menu p-4 text-body-secondary" style="max-width: 200px;">
        <p>
          Some example text that’s free-flowing within the dropdown menu.
        </p>
        <p class="mb-0">
          And this is more example text.
        </p>
    </div>

    <p class="text-block">
        На цьому сайті ви можете підібрати місце для відпочинку відповідно до вашого бюджету та вподобань, 
        а також обрати зручні дати, ціну та кількість осіб.
    </p>
    <p>
        Особливістю і гордістю цього проєкту  є поділ відпочинку за типами, який був реалізований мною як експеремент 
        для зручнішого пошуку та вибору місць відпочинку.
    </p>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Активний відпочинок</strong> - орієнтований на людей, які віддають перевагу руху, 
                    подорожам, екскурсіям, 
                    походам та іншим видам активної діяльності. 
                    Такі місця підходять для тих, хто хоче поєднати відпустку з новими враженнями та фізичною активністю.
                </p>
            </div>
        </div>
    </div>
    <p>
        <strong>Пасивний відпочинок</strong> - призначений для спокійного проведення часу, відновлення сил і релаксу. 
        До цього типу належать місця, де основний акцент зроблений на комфорті, тиші, природі або SPA-процедурах.
    </p>
    <p>
        <strong>Змішаний відпочинок</strong> - поєднує елементи активного та пасивного форматів. 
        Він підходить для людей, які хочуть чергувати активні заняття зі спокійним відпочинком і отримати 
        максимально збалансовану відпустку.
    </p>
    <p class="center-text">Сайт зробив імя і фаміл</p>
    <p class="center-text">Для створення цього проєкту були використані:</p>
    <p>перелік що використав</p>

{% endblock %}