{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <div class="crea">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
              <div class="card success-card shadow rounded-4 border-0 text-center p-4">
                <div class="card-body">
                    <i class="bi bi-check-circle-fill" style="font-size: 3rem; color: #2A9652;"></i>
                  <h2 class="fw-bold mb-3 text-success">
                    Бронювання успішно створено
                  </h2>
                  <hr class="divider-n">
                  <p class="text-size-m">
                    <strong>Відпочинок:</strong>
                    {{ booking.rest.name }}
                  </p>
                  <p class="text-size-m">
                    <strong>Категорія:</strong>
                    {{ booking.rest.category }}
                  </p>
                  <p class="text-size-m">
                    <strong>Тип:</strong>
                    {{ booking.rest.tep }}
                  </p>
                  <p class="text-size-m">
                    <strong>Дати:</strong>
                  </p>
                  <p class="text-size-m mb-4">
                    {{ booking.start_time }} — {{ booking.end_time }}
                  </p>
                  <a href="{% url 'main_page' %}" class="btn button-tt px-4">
                    До пошуку
                  </a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}