<nav>
    <a href="{% url 'main_page' %}">Booking</a>
    <ul>
        <li>
            <a href="{% url 'main_page' %}">Пошук відпочинку</a>
        </li>
        <li>
            <a href="{% url 'rests' %}">Відпочинок</a>
        </li>
        <li>
            <a href="#">Про нас</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a href="#">Мої бронювання</a>
            </li>
            <li>
                <a href="#">Вийти</a>
            </li>
        {% else %}
            <li>
                <a href="#">Увійти</a>
            </li>
        {% endif %}
    </ul>
</nav>
