{% load static %}
<header class="p-4 col"> 
    <div class="container"> 
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
        
        <a href="/">
            <img src="{% static 'img/d1.png' %}" alt="Фото шапки" width="60" height="60" >
        </a>

        <div class="d-flex align-items-center gap-3 ui">
            <a href="{% url 'main_page' %}" class="nav-link px-2 text-white">Booking Rest</a>
        </div>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"> 
            <li>
                <a href="{% url 'main_page' %}" class="nav-link px-2 text-col me-2">
                    <i class="bi bi-search me-2"></i>Пошук Відпочинку</a>
                </li>
            <li>
                <a href="{% url 'rests' %}" class="nav-link px-2 text-col me-2">
                    <i class="bi bi-asterisk me-2"></i>Відпочинок</a>
            </li>
            <li>
                <a href="{% url 'sef' %}" class="nav-link px-2 text-col">
                    <i class="bi bi-bookmark-fill me-2"></i>Про нас</a>
            </li>
        </ul>


            {% if user.is_authenticated %}
            <div class="text-end">
                <a href="{% url 'bt' %}" class="nav-link px-2 text-col me-2">
                    <i class="bi bi-person-fill me-2"></i>Мої бронювання</a>
            </div>
            <div class="text-end">
                <a href="{% url 'logout' %}" class="btn-g me-3">
                   Вийти <i class="bi bi-box-arrow-right"></i></a>

            </div>
            {% else %}
            <div class="text-end"> 
                <a href="{% url 'login' %}" class="btn btn-ou me-2">Увійти</a>
                <a href="{% url 'register' %}" class="btn btn-ouu">Зарейструватись</a>
            </div>
            {% endif %}
        
        </div>
    </div> 
</header>

