{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section section-gray text-center">
    <div class="bac d-flex flex-column align-items-center justify-content-center">

        <div class="text-center mb-3">
            <a href="/">
                <img src="{% static 'img/d0.png' %}" alt="Logo" width="150">
            </a>
        </div>

        <div class="card shadow p-4" style="width:100%; max-width:420px; border-radius:15px;">
            <h2 class="mb-4 fw-bold">Вхід в акаунт</h2>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Ім'я користувача</label>
                    {{ form.username }}
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Пароль</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="submit button-t w-100">
                    Увійти
                </button>

            </form>

            <p class="mt-3">
                Якщо у вас ще немає акаунта, будь ласка
                <a href="{% url 'register' %}" class="fw-semibold text-decoration-none">
                    зареєструйтесь
                </a>
            </p>

        </div>

    </div>
</div>
{% endblock %}