{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section section-gray text-center">
    <div class="bac d-flex flex-column align-items-center justify-content-center">

        <div class="text-center mb-3">
            <a href="/">
                <img src="{% static 'img/d0.png' %}" alt="Logo" width="150">
            </a>
        </div>

        <div class="card shadow p-5 text-center registration-card cardf">
            <h2 class="mb-4 fw-bold" style="color:#2A9652;">Реєстрація</h2>

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
                {% endif %}

                <div class="mb-3 text-start">
                    <label for="username" class="form-label fw-semibold">Ім'я</label>
                    {{ form.username }}
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label fw-semibold">Пароль</label>
                    {{ form.password1 }}
                </div>

                <div class="mb-3 text-start">
                    <label class="form-label fw-semibold">Підтвердження пароля</label>
                    {{ form.password2 }}
                </div>

                <div class="form-check mb-4 text-start">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Я люблю чай
                        <i class="bi bi-cup-hot-fill"></i>
                    </label>
                </div>

                <hr class="divider">

                <button type="submit" class="submit mt-2 button-t1 w-100">
                    Зареєструватись
                </button>

            </form>
        </div>
    </div>
</div>


{% endblock %}